//* Background color of the body of the page*/
body {background-color: lightgray;}



.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: aqua;
}


.header h1{
display: flex;
justify-content: left;
font-size: 32px;
width:30%;
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100;

}

.header nav { 
    display: flex;
    justify-content: space-evenly;
    height: 35px;
    width:65%;

}


.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    color: aliceblue;
} 

.row{
    display:flex;
    gap:2%;
    padding: 1%;
    margin: 1%;
}
.col-1{
    width:20%;
    border-right: 5px solid black;
}
.col-2{
    width:70%;
    display: flex;
    gap:2%;
}
.col-1 h2{
    font-size: 1.5rem;
    text-align: right;
    padding-right: 1%;;
}
.headshot{
    width:30%;
    border-radius: 20px;
}
#projects-list{
    flex-wrap: wrap;
    justify-content: space-between;
    gap:5%;
}
.project{
    width:43%;
    border:5px solid black;
    position: relative;
}
.project img{
    width:100%;
}
.main{
    width:100%;
}
.project-title {
    position:absolute;
    bottom:10px;
    background-color: white;
    font-size: 1.5rem;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 160px;

} 
footer {
    background-color: aqua;
}