
body {background-color: lightgray;}



.header {
    padding: 20px;
    background-color: black;
    color: white;

    
}

.header h1{
display: inline-block;
font-size: 36px;

}

.header ul {
    display: inline-block;
    margin-left: 750px;
    font-size: 18px;
}


.header nav ul {
    list-style-type: none;
    color: aquamarine;
    
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}